<h1>Listing Users</h1>

<table class="table">
  <%= for user <- @users do %>
    <tr>
      <td><b><%= render "user.html", user: user %></b>
      </td>
      <td><%= link("View", to: user_path(@conn, :show, user.id)) %></td>

    </tr>
  <% end %>
  <%= link("New user", to: user_path(@conn, :new)) %>
</table>
